html {
  scroll-behavior: smooth;
}

/*MOBILE FIRST HOME 200PX */

@media (min-width: 100px) {

  .gridHome {
    display: grid;
    grid-template-rows: 5% 92% 11%;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background: #3b3d43;
    overflow-x: hidden;
  }

  button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }

  .navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 48px;
    background: black;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 10px 4px;
  }

  button .navbar-burger {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 70px;
    height: 70px;
    padding: 0;
    margin-top: 20px;
  }

  .material-icons {
    margin-top: 0px;
  }

  .logoHome {
    margin-left: 25px;
    width: 70px;
    height: 70px;
  }

  .navbar-title {
    font-size: 14.1px;
    color: white;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 2px;
  }

  .active {
    font-size: 16.2px;
  }

  .navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menu>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }

  .navbar-menu>button.active {
    color: inherit;
  }

  .navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 146px;
    height: 100%;
    padding: 12px 20px;
    display: flex;
    gap: 1px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
    padding-left: 5px;
    justify-content: space-between;

  }

  body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
  }

  .mainHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .card {
    text-align: center;
    margin: 10px 25px;
    margin-bottom: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    background: linear-gradient(145deg, #35373c, #3f4148);
    box-shadow: 20px 20px 50px #1d1e21,
      -20px -20px 50px #42444b;
  }

  .card-text {
    font-size: 17px;
    color: black;
  }

  h2 {
    color: #f9f9f9;
    font-family: "Poppins";
    font-size: 20px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
  }

  p {
    margin-top: 20px;
    color: black;
    font-family: "Poppins";
    font-size: 20px;
  }

  .imgLogo {
    width: 250px;
    height: 250px;
  }

  .cardDos {
    text-align: center;
    margin: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    background: linear-gradient(145deg, #35373c, #3f4148);
    box-shadow: 20px 20px 50px #1d1e21,
      -20px -20px 50px #42444b;
  }

  .segui {
    font-size: 15px;
    margin-top: 10px;
  }

  .anclaSegui {
    color: white;
    font-size: 20px;
    text-shadow: 0 0 5px #f9f9f9;
  }

  .ftHome {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px 5px;
    padding-left: 2px;
    margin-top: 30px;
  }

  .flexTextoFt {
    display: flex;
    flex-direction: column-reverse;
    gap: 13px;
    margin-top: 10px;
  }

  .textoFt {
    font-size: 11px;
    color: white;
    font-family: "Poppins";
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin: 3px;
  }

  .flexBotones {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
  }

  .iconoFtHome {
    width: 24px;
    height: 18px;
  }

  .instagram {
    background-color: deeppink;
    border-radius: 30px;
    opacity: 60%;
  }

  .whats {
    background-color: lime;
    border-radius: 30px;
    opacity: 60%;
  }

  .linked {
    background-color: dodgerblue;
    border-radius: 30px;
    opacity: 60%;
  }

}

@media (min-width: 350px) {

  .gridHome {
    display: grid;
    grid-template-rows: 8% 95% 10%;
  }

  .navbar {
    height: 60px;
  }

  .navbar-burger {
    margin-top: 0px;
  }

  .material-icons {
    font-size: 29px;
  }

  .logoHome {
    margin-left: 30px;
  }

  .navbar-title {
    font-size: 20px;
  }

  .card {
    margin: 10px 65px;
    padding: 5px;
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 18px;
  }

  .cardDos {
    margin: 10px 65px;
    padding: 10px;
  }

  .segui {
    font-size: 18px;
  }

  .ftHome {
    margin-top: 0px;
  }

  .flexTextoFt {
    gap: 15px
  }

  .textoFt {
    font-size: 13px;
  }



}

@media (min-width: 450px) {

  .gridHome {
    display: grid;
    grid-template-rows: 10% 91% 11.6%;
  }

  .navbar {
    padding-top: 10px;
    height: 60px;
  }

  .navbar-menu {
    padding-left: 5px;
  }

  .navbar-title {
    margin-top: 0px;
    font-size: 20px;
  }

  .navbar-burger {
    width: 50px;
    height: 50px;
  }

  .logoHome {
    margin-left: 20px;
    width: 90px;
    height: 90px;
  }

  .active {
    font-size: 18px;
  }

  .card {
    align-items: center;
    margin-top: 0px;
    padding: 0px;
  }

  .card-body {
    padding-top: 5px;
  }

  .card-title {
    font-size: 25px;
    margin-top: 10px;
    
  }

  .card-text {
    margin-top: 10px;
    font-size: 20px;
  }

  .imgLogo {
    width: 350px;
    height: 330px;
    margin-bottom: 10px;
  }

  .cardDos {
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
    padding: 5px;
  }

  .segui {
    margin: 5px;
    font-size: 19px;
  }

  .anclaSegui {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .ftHome {
    margin-top: 10px;
  }

  .textoFt {
    font-size: 15px;
    margin-top: 10px;
  }

  .flexBotones {
    gap: 5px;
    margin-top: 12px;
  }

  .iconoFtHome {
    width: 40px;
    height: 25px;
  }
}

@media (min-width: 600px) {

  .gridHome {
    display: grid;
    grid-template-rows: 10% 90% 12%;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-title {
    font-size: 18px;
    margin-top: 0px;
  }

  .index {
    margin-left: 10px;
  }

  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 10px;
  }

  .logoHome {
    margin-left: 40px;
    width: 50px;
    height: 50px;
  }

  .active {
    margin-right: 10px;
    font-size: 15px;
    width: 90px;
  }

  .card {
    width: 500px;
    height: 210px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-size: 25px;
    margin-bottom: 0px;
  }

  .card-text {
    padding: 10px;
    font-size: 20px;
  }

  .cardDos {
    margin-top: 5px;
    height: 175px;
    width: 500px;
  }

  .segui {
    margin-bottom: 15px;
  }
}

@media (min-width: 710px) {

  .gridHome {
    display: grid;
    grid-template-rows: 10% 95% 11%;
  }

  .active {
    font-size: 20px;
  }

  .navbar-overlay {
    display: none;
  }

  .navbar {
    height: 70px;
  }

  .navbar-title {
    margin-top: 0px;
    font-size: 25px;
  }

  .card {
    margin-bottom: 20px;
    width: 600px;
    height: 270px;
  }

  .card-title {
    font-size: 30px;
  }

  .card-text {
    font-size: 25px;
  }

  .imgLogo {
    width: 440px;
    height: 380px;
  }

  .cardDos {
    width: 600px;
    height: 230px;
  }

  .segui {
    margin-top: 20px;
    font-size: 25px;
  }

  .anclaSegui {
    font-size: 30px;
  }

  .flexBotones {
    margin-top: 5px;
  }

  .iconoFtHome {
    width: 40px;
    height: 30px;
  }

}

/*VISTA DESKTOP*/

@media (min-width: 1024px) {

  .gridHome {
    display: grid;
    grid-template-rows: 9% 93% 12.7%;
  }

  .navbar {
    height: 70px;
  }

  .card {
    height: 320px;
    width: 700px;
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 35px;
  }

  .card-text {
    font-size: 30px;
  }

  .imgLogo {
    margin: 50px;
    width: 35em;
    height: 25em;
  }

  .cardDos {
    height: 280px;
    width: 700px;
  }

  .segui {
    font-size: 30px;
  }

  .anclaSegui {
    font-size: 35px;
  }

  .textoFt {
    font-size: 25px;
  }

  .iconoFtHome {
    width: 60px;
    height: 40px;
    border-radius: 50px;
  }

  a:hover {
    color: #42444b;
    opacity: 90%;
    transition-duration: .8s;
    clip-path: circle(top at end);
  }

  .instagram {
    border-radius: 20px;
    padding: 2px;
  }

  .instagram:hover {
    background-color: deeppink;
    opacity: 100%;
    transition-duration: 1s;
  }

  .whats {
    border-radius: 20px;
    padding: 2px;
  }

  .whats:hover {
    background-color: lime;
    opacity: 100%;
    transition-duration: 1s;
  }

  .linked {
    border-radius: 20px;
    padding: 2px;
  }

  .linked:hover {
    background-color: dodgerblue;
    opacity: 100%;
    transition-duration: 1s;
  }

}


/*MOBILE FIRST SOBRE MI 200PX*/

@media (min-width: 100px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 4% 92% 7.2%;
  }

  .navbarSm {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 53px;
    background: black;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 4px;
    padding-left: 4.5px;
    padding-right: 6px;
  }

  .navbar-overlaySm {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .navbar-overlaySm {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menuSm>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }

  .navbar-menuSm>button.active {
    color: inherit;
  }

  .navbar-menuSm {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 163px;
    height: 100%;
    display: flex;
    gap: 1.5px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 6px;
    justify-content: space-between;
  }

  body.open .navbar-menuSm {
    translate: 0 0;
    visibility: visible;
  }

  .materialSm {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 27px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

  .navbar-titleSm {
    margin-top: 9px;
    font-size: 15.7px;
  }

  .botonesMenuSm {
    display: flex;
    flex-direction: column;

  }

  .activeSm {
    font-size: 18.3px;
  }

  .logoSm {
    margin-left: 28px;
    width: 78px;
    height: 78px;
  }

  .flexMainSm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardSm {
    text-align: center;
    margin: 40px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(145deg, #35373c, #3f4148);
    box-shadow: 20px 20px 50px #1d1e21,
      -20px -20px 50px #42444b;
  }

  .card-titleSm {
    font-size: 25px;
  }

  .card-textSm {
    font-size: 20px;
  }

  .tatuadorImg {
    border-radius: 15px;
    height: 20em;
    width: 10em
  }

  .ftSm {
    padding: 0px 5px;
    margin-top: 15px;
    align-items: center;
  }

  .flexTextoSm {
    gap: 23px;
    margin-top: 10px;
  }

  .textoFtSm {
    font-size: 12.3px;
    color: white;
    font-family: "Poppins";
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .flexbotonesSm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 4px;
  }

  .iconoFtSm {
    width: 27px;
    height: 20px;
  }

}

@media (min-width: 350px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 5% 92% 8.25%;
  }

  .navbarSm {
    height: 60px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .materialSm {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

  .navbar-titleSm {
    margin-top: 8px;
    font-size: 20px;
  }

  .navbar-menuSm {
    width: 146px;
    gap: 1px;
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 13px;
  }

  .activeSm {
    font-size: 16.2px;
  }


  .logoSm {
    margin-left: 31px;
    width: 70px;
    height: 70px;
  }

  .card-titleSm {
    font-size: 23px;
  }

  .card-textSm {
    font-size: 16px;
  }

  .tatuadorImg {
    height: 22em;
    width: 14em;
  }

  .ftSm {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
  }

  .flexTextoSm {
    gap: 21px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .textoFtSm {
    font-size: 13px;
  }

  .flexBotonesSm {
    margin-top: 0px;
    margin-bottom: 15px;
    gap: 4px;
  }

  .iconoFtSm {
    width: 24px;
    height: 18px;
  }

}

@media (min-width: 450px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 5.5% 92% 7.6%;
  }

  .navbarSm {
    height: 66px;

  }

  .navbar-titleSm {
    font-size: 22px;
    margin-top: 11px;
    margin-right: 0px;
  }

  .materialSm {
    margin-left: 5px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

  .navbar-menuSm {
    width: 160px;
    padding-top: 14px;
    padding-left: 6px;
  }

  .botonesMenuSm {
    gap: 0.5px;
  }

  .activeSm {
    font-size: 19.8px;
  }

  .logoSm {
    width: 100px;
    height: 100px;
    margin-left: 21px;
  }

  .cardSm {
    margin: 30px 60px;
  }

  .card-titleSm {
    font-size: 28px;
  }

  .card-textSm {
    font-size: 20px;
  }

  .tatuadorImg {
    height: 26em;
    width: 21em;
    border-radius: 30px;
  }

  .ftSm {
    margin-top: 0px;
    padding-top: 10px;
  }

  .textoFtSm {
    margin-top: 9px;
    font-size: 16.6px;
  }

  .flexBotonesSm {
    margin-top: 10.5px;
    gap: 5px;
  }

  .iconoFtSm {
    width: 44px;
    height: 28px;
  }


}

@media (min-width: 600px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 92% 7.05%;
  }

  .navbarSm {
    padding-left: 12px;
    padding-right: 12px;
    height: 58px;
  }

  .navbar-menuSm {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 2px;
    gap: 23px;
  }

  .navbar-titleSm {
    margin-top: 7px;
    font-size: 17px;
  }

  .botonesMenuSm {
    flex-direction: row;
    margin-top: 5px;
    gap: 2.5px;
  }

  .activeSm {
    font-size: 14.2px;
    margin-left: 35px;
  }

  .logoSm {
    margin-left: 35px;
    margin-top: 0px;
    width: 47.6px;
    height: 47.5px;
  }

  .ftSm {
    margin-top: 10px;
  }

  .flexTextoSm {
    gap: 15px;
    margin-top: 6.6px;
  }

  .textoFtSm {
    font-size: 14.3px;
    margin-bottom: 2px;
  }

  .flexBotonesSm {
    gap: 5px;
    margin-top: 14.5px;
  }

  .iconoFtSm {
    width: 38.5px;
    height: 23.62px;
  }

}

@media (min-width: 710px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 90% 13%;
  }

  .navbarSm {
    padding-left: 12px;
    padding-right: 10px;
    height: 70px;
    align-items: baseline;
    padding-top: 0px;
  }

  .navbar-menuSm {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 5px;
    gap: 13px;
  }

  .navbar-titleSm {
    margin-top: 0px;
    font-size: 25.1px;
  }

  .activeSm {
    font-size: 20px;
    margin-left: 16px;
  }

  .logoSm {
    margin-left: 34px;
    margin-top: 1px;
    width: 50px;
    height: 50px;
  }

  .flexMainSm {
    padding: 30px;
    padding-top: 30px;
  }

  .cardSm {
    margin: 20px;
  }

  .flexFotos {
    display: flex;
    flex-direction: row;
  }

  .tatuadorImg {
    height: 20em;
    width: 16em;
  }

  .ftSm {
    padding: 5px;
    margin-top: 0px;
  }

  .flexTextoSm {
    margin-top: 6px;
    gap: 16px;
  }

  .textoFtSm {
    font-size: 15px;
  }


  .flexBotonesSm {
    gap: 5px;
  }

  .iconoFtSm {
    width: 39.7px;
    height: 30px;
  }
}

/*VISTA DESKTOP*/

@media (min-width: 1024px) {


  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 90% 14.1%;
  }

  .navbarSm {
    padding-left: 12px;
    padding-right: 9px;
    height: 70px;
    align-items: baseline;  
    padding-top: 0px;
  }

  .navbar-titleSm {
    font-size: 25px;  
    margin-top: 0px;
  }

  .activeSm {
    font-size: 20px;
  }

  .logoSm {
    margin-left: 34px;
    margin-top: 3px;
  }

  .flexMainSm {
    padding-left: 80px;
    padding-right: 80px;
  }

  .cardSoy {
    padding: 30px;
    width: 850px;
    height: 350px;
  }

  .card-titleSm {
    font-size: 35px;
  }

  .card-textSm {
    font-size: 28px;
  }

  .flexFotos {
    margin-top: 50px;
  }

  .tatuadorImg {
    width: 21em;
    height: 26em;
  }

  .ftSm {
    padding-top: 0px;
  }

  .flexTextoSm {
    margin-top: 0px;
    gap: 18px;
    margin-bottom: 25px;
  }

  .textoFtSm {
    margin-bottom: 0px;
    font-size: 25px;
  }

  .flexBotonesSm {
    margin-top: 11px;
  }

  .iconoFtSm {
    width: 60px;
    height: 40px;
  }
}

/*MOBILE FIRST TRABAJOS 200PX*/

@media (min-width: 100px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 2% 97.2% 3.7%;
  }

  .navbarTr {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background: black;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 5px;
    padding-top: 7px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .navbar-overlayTr {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .navbar-overlayTr {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menuTr>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }

  .navbar-menuTr>button.activeTr {
    color: inherit;
  }

  .navbar-menuTr {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 146px;
    height: 100%;
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: space-between;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
    padding-left: 1px;
  }

  body.open .navbar-menuTr {
    translate: 0 0;
    visibility: visible;
  }

  .material-iconsTr {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
  }

  .navbar-titleTr {
    margin-top: 6px;
    font-size: 14.1px;
  }

  .anclanavTr {
    height: 23px;
    font-size: 23px;
    margin-left: 4px;
  }

  .flexBotonesNavTr {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
    margin-top: 4px;
    margin-left: 2px;
  }

  .activeTr {
    font-size: 16.2px;
  }

  .logoTr {
    margin-left: 29px;
    margin-bottom: 13px;
    width: 70px;
    height: 70px;
  }

  .flexMainTr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardTr {
    padding: 10px;
    margin: 20px;
  }

  .card-titleTr {
    font-size: 22px;
  }

  .card-textTr {
    font-size: 13px;
    margin-top: 10px;
  }

  .imgTatuajes {
    border-radius: 15px;
    height: 11em;
    width: 8em;
    object-fit: cover;
  }

  .card-textTrDos {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px;
    border: solid 2px white;
    border-radius: 50px;
    background-color: #1d1e21;
    font-size: 25px;
  }

  .offcanvas {
    background-color: #42444b;
  }

  .offcanvasRightLabel {
    color: white;
  }

  .offcanvas-body {
    margin-top: 20px;
    color: #000000;
  }

  .ftTr {
    padding: 5px;
    padding-bottom: 7px;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }

  .flexTextoFtTr {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
  }

  .textoFtTr {
    font-size: 11px;
    color: white;
    font-family: "Poppins";
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin-top: 8px;
    margin-bottom: 6px;
  }

  .flexbotonesTr {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 10px;
  }

  .anclaFtTr {
    font-size: 0px;
  }

  .iconoFtTr {
    width: 24.5px;
    height: 18.9px;
  }


  .offcanvas-body {
    font-family: "Poppins";
  }

}

@media (min-width: 350px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 2% 97% 3.03%;
  }

  .navbarTr {
    height: 60px;
    padding-left: 4px;
    padding-right: 4px;
    align-items: stretch;
  }

  .navbar-titleTr {
    margin-top: 11px;
    font-size: 20px;
  }

  .navbar-menuTr {
    width: 146px;
    padding-top: 0px;
  }

  .flexBotonesNavTr {
    margin-top: 3px;
    gap: 1.3px;
  }

  .anclanavTr {
    font-size: 24px;
    margin-left: 4px;
  }

  .activeTr {
    font-size: 16.2px;
  }

  .logoTr {
    margin-left: 34px;
    margin-bottom: 12px;
  }

  .cardTr {
    padding: 10px;
    margin: 40px;
    margin-top: 25px;
  }

  .card-titleTr {
    font-size: 34px;
  }

  .card-textTr {
    font-size: 23px;
  }

  .imgTatuajes {
    height: 15em;
    width: 14em;
  }

  .flexTextoFtTr {
    gap: 0px;
    margin-bottom: 8px;
  }

  .textoFtTr {
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 8px
  }

  .ftTr {
    padding: 7px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .flexbotonesTr {
    gap: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
  }

  .iconoFtTr {
    width: 24px;
    height: 18px;
  }

}

@media (min-width: 450px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 1.4% 97.5% 2.78%;
  }

  .navbarTr {
    height: 60px;
    padding-right: 1px;
    padding-top: 6px;
  }

  .navbar-titleTr {
    font-size: 20px;
    margin-right: 3px;
    margin-top: 12px;
  }

  .navbar-menuTr {
    width: 146px;
    padding-top: 6px;
    padding-left: 0px;
  }

  .flexBotonesNavTr {
    gap: 4px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .activeTr {
    font-size: 18px;
    margin-left: 3px;
  }

  .logoTr {
    margin-left: 25px;
    width: 90px;
    height: 90px;
  }

  .cardTr {
    margin: 30px 60px;

  }

  .card-textTr {
    font-size: 20px;
  }

  .imgTatuajes {
    height: 20em;
    width: 18em;
    border-radius: 30px;
  }

  .ftTr {
    padding: 12px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .flexTextoFtTr {
    margin-bottom: 0px;
    margin-top: 1px;
    gap: 10.5px;
  }

  .textoFtTr {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 8px;
  }

  .flexbotonesTr {
    gap: 5px; 
    margin-top: 5px;
    margin-bottom: 4.5px;
  }

  .iconoFtTr {
    width: 40px;
    height: 25px;
  }


}

@media (min-width: 600px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 1.8% 97% 2.3%;
  }

  .navbarTr {
    padding-left: 11.5px;
    padding-right: 13px;
    height: 58px;
  }

  .navbar-menuTr {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 0px;
    gap: 34px;
  }

  .navbar-titleTr {
    margin-top: 12px;
    font-size: 17.1px;
    margin-left: 0px;
  }

  .flexBotonesNavTr {
    flex-direction: row;
    gap: 35px;
    margin-top: 5px;
  }

  .anclanavTr {
    height: 44px;
  }

  .activeTr {
    font-size: 14.2px;
    margin-left: 1px;
  }

  .logoTr {
    margin-left: 24px;
    margin-top: 0px;
    width: 48px;
    height: 48px;
    margin-bottom: 1px;
  }

  .cardTr {
    align-items: center;
    margin: 60px;
  }

  .cardHam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-textTrDos {
    font-size: 30px;
  }

  .btn {
    width: 80px;
    text-align: center;
  }

  .flexTextoFtTr {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 6px;
    gap: 0px;
  }

  .ftTr {
    padding-top: 0px;
    padding-bottom: 0px;
  }


  .textoFtTr {
    font-size: 14.3px;
    margin-bottom: 10px;
    margin-top: 16px;
  }

  .flexbotonesTr {
    gap: 4.5px;
    margin-top: 15px;
  }

  .iconoFtTr {
    width: 39px;
    height: 24px;
  }

}

@media (min-width: 710px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 1.9% 98% 2.78%;
  }

  .navbarTr {
    padding-left: 11.5px;
    padding-right: 3.5px;
    height: 69px;
    align-items: baseline;
  }

  .navbar-menuTr {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 10px;
    gap: 16px;
  }

  .navbar-titleTr {
    margin-top: 8px;
    font-size: 24.3px;
  }   

  .flexBotonesNavTr {
    gap: 16px;
  }

  .activeTr {
    font-size: 19.5px;
    margin-left: 0px;
  }

  .logoTr {
    margin-left: 29px;
    margin-top: 0px;
    width: 49px;
    height: 49px;
    margin-bottom: 2px;
  }

  .flexMainTr {
    padding: 30px;
    padding-top: 30px;
  }

  .cardTr {
    margin: 30px 150px;
  }

  .imgTatuajes {
    height: 20em;
    width: 16em;
  }

  .card-textTrDos {
    font-size: 24px;
  }

  .ftTr {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .flexTextoFtTr {
    margin-top: 10px;
    gap: 12px;
  }

  .textoFtTr {
    font-size: 14.6px;
    margin-bottom: 10px;
    margin-top: 5px;
  }


  .flexbotonesTr {
    margin-top: 5px;
    gap: 4.7px;
  }

  .iconoFtTr {
    width: 39px;
    height: 29px;
  }

}

/*VISTA DESKTOP*/

@media (min-width: 1024px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 4% 95.5% 7.38%;
  }

  .navbarTr {
    padding-left: 12px;
    padding-right: 4px;
    height: 70px;
    align-items: baseline;
  }

  .navbar-menuTr {
    gap: 14px;
  }

  .navbar-titleTr {
    font-size: 25px;
    margin-top: 14px;
  }

  .activeTr {
    font-size: 20px;
  }

  .logoTr {
    margin-left: 33px;
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
  }

  .cardTr {
    margin: 30px 70px;
  }

  .card-titleTr {
    font-size: 35px;
  }

  .card-textTr {
    font-size: 30px;
  }

  .gridFotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

  .imgTatuajes {
    width: 18em;
    height: 26em;
    gap: 0px;
    display: grid;
  }

  .tatuajeUno::after {
    content: "Ojo de Horus";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeUno:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeDos::after {
    content: "Mariposa full color";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeDos:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeTres::after {
    content: "Buho realista";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeTres:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeCua::after {
    content: "Rosa Black";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeCua:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeCin::after {
    content: "Padrinos locos";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeCin:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeSeis::after {
    content: "Arlequín";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeSeis:hover::after {
    clip-path: circle(150% at top right);
  }


  .tatuajeSie::after {
    content: "Mandala";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeSie:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeOcho::after {
    content: "Clavel Black";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeOcho:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeNue::after {
    content: "Gato egipcio";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeNue:hover::after {
    clip-path: circle(150% at top right);
  }

  .card-textTrDos {
    font-size: 35px;
  }

  .btn {
    width: 100px;
    font-size: 40px;
  }

  .btn:hover {
    background-color: #1d1e21;
    opacity: 85%;
  }

  .ftTr {
    padding-top: 0px;
  }

  .flexTextoFtTr {
    margin-bottom: 11.5px;
    margin-top: 8px;
    gap: 12.5px;
  }

  .textoFtTr {
    margin-bottom: 10px;
    font-size: 25px;
  }   

  .flexbotonesTr {
    gap: 5px;
  }

  .iconoFtTr {
    width: 60px;
    height: 40px;
  }
}

/*MOBILE FIRST CONTACTO 200PX*/

@media (min-width: 100px) {

  .gridContacto {
    display: grid;
    grid-template-rows: 2% 92% 7.05%;
  }

  .navBarCon {
    height: 62px;
    padding: 11px 5px;
  }

  .menuCon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 31px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .navTitulo {
    margin-top: 10px;
    font-size: 18.4px;
  }

  .navCon {
    width: 190px;
    gap: 35px;
    padding: 15px 5px;
  }

  .divAnclaCon {
    display: flex;
    flex-direction: column;
    gap: 9.2px;
  }

  .anclanavCon {
    height: 23px;
    font-size: 23px;
    margin-left: 4px;
  }

  .activeCon {
    font-size: 21.2px;
  }

  .logoCon {
    width: 91px;
    height: 91px;
    margin-left: 34px;
    margin-bottom: 1px;
  }

  .mainCon {
    padding: 20px;
  }

  .card-titleCon {
    font-size: 30px;
  }

  .card-textCon {
    font-size: 20px;
  }

  .cardCon {
    text-align: center;
    margin: 30px 20px;
    margin-bottom: 70px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    background: linear-gradient(145deg, #35373c, #3f4148);
    box-shadow: 20px 20px 50px #1d1e21,
      -20px -20px 50px #42444b;
  }

  .tituloCard {
    color: #f9f9f9;
    font-family: "Poppins";
    font-size: 30px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    border-radius: 20px;
    border: 4px solid white;
    padding: 10px;
  }

  .imgIns {
    border-radius: 30px;
    margin-top: 30px;
    height: 10em;
    width: 11em;
  }

  .tituloWsp {
    color: #f9f9f9;
    font-family: "Poppins";
    font-size: 30px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    background-color: #00bb2d;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    border-radius: 20px;
    padding: 10px;
    border: 4px solid white;
  }

  .instrucciones {
    text-align: center;
    margin: 30px 20px;
    font-size: 20px;
  }

  .ftCon {
    padding: 5px 6px;
    padding-top: 10px;
    padding-left: 6.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000000;
    margin-top: 20px;
  }

  .flexTextoFtCon {
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
    margin-top: 10px;
  }

  .TextoFtCon {
    font-size: 14.3px;
    color: white;
    font-family: "Poppins";
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .flexbotonesCon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 5px;
  }

  .iconoFtCon {
    width: 32px;
    height: 23px;
  }

}

@media (min-width: 350px) {

  .gridContacto {
    display: grid;
    grid-template-rows: 3% 92% 7.76%;
  }

  .navBarCon {
    align-items: center;
    height: 79px;
    padding-right: 5.3px;
    padding-left: 5.3px;
  }

  .navTitulo {
    margin-top: 9px;
    font-size: 26.5px;
  }

  .menuCon {
    font-size: 32px;
  }

  .navCon {
    width: 266px;
    padding: 20px 8px;
  }

  .divAnclaCon {
    gap: 22px;
  }

  .activeCon {
    font-size: 30px;
  }

  .logoCon {
    height: 129px;
    width: 129px;
    margin-left: 54px;
    margin-bottom: 1px;
  }

  .mainCon {
    padding: 20px 70px;
  }

  .card-titleCon {
    font-size: 35px;
  }

  .imgIns {
    height: 11em;
    width: 14em;
  }

  .instrucciones {
    font-size: 24px;
    margin: 20px 20px;
  }

  .ftCon {
    margin-top: 19.3px;
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .flexTextoFtCon {
    gap: 28px;
    margin-top: 9px;
  }

  .TextoFtCon {
    font-size: 17.2px;
  }

  .flexbotonesCon {
    gap: 5px;
    margin-top: 4px;
  }

  .iconoFtCon {
    height: 24px;
    width: 32px;
  }

}

@media (min-width: 450px) {

  .gridContacto {
    display: grid;
    grid-template-rows: 4% 92% 6.87%;
  }

  .navBarCon {
    height: 85px;
    padding-left: 16px;
    padding-right: 4px;
  }

  .menuCon {
    font-size: 34px;
  }

  .navCon {
    gap: 16px;
    padding: 19px 3px;
    width: 207px;
    padding-bottom: 15px;
  }

  .divAnclaCon {
    gap: 15.1px;
  }

  .activeCon {
    font-size: 25.5px;
  }

  .logoCon {
    margin-left: 32px;
    width: 129px;
    height: 129px;
  }

  .navbar-titleCon {
    font-size: 28.5px;
    margin-top: 10px;
    margin-right: 2px;
  }

  .material-icons {
    margin-top: 0px;
  }

  .mainCon {
    margin-bottom: 20px;
  }

  .card-textCon {
    font-size: 30px;
  }

  .instrucciones {
    font-size: 30px;
  }

  .flexTextoFtCon {
    gap: 41px;
    margin-top: 11px;
  }

  .textoFtCon {
    font-size: 21.4px;
    margin-left: 3px;
  }

  .ftCon {
    padding-top: 20px;
    padding-left: 4px;
    padding-right: 5px;
  }

  .flexbotonesCon {
    margin-top: 0px;
    margin-right: 2px;
  }

  .iconoFtCon {
    width: 57px;
    height: 36px;

  }

}

@media (min-width: 600px) {

  .gridContacto {
    display: grid;
    grid-template-rows: 2% 93% 7.5%;
  }

  .navBarCon{
    padding-left: 11.5px;
    padding-right: 0px;
    height: 58px;
  }

  .navCon {
    width: auto;
  }

  .navbar-titleCon {
    font-size: 17.1px;
    margin-top: 6px;
  }

  .divAnclaCon {
    flex-direction: row;
    margin-left: 41.5px;
    margin-top: 2px;
    gap: 8.3px;
  }

  .activeCon {
    font-size: 14.3px;
    width: 90px;
  }

  .logoCon {
    height: 48px;
    width: 48px;
    margin-bottom: 5px;
    margin-left: 31px;
  }

  .cardCon {
    padding: 20px;
    margin-bottom: 50px;
  }

  .card-titleCon {
    font-size: 30px;
  }

  .card-textCon {
    font-size: 20px;
    margin-top: 10px;
  }

  .tituloCard {
    font-size: 25px;
    margin: 0px 20px;
    padding: 5px 30px;
  }

  .card-body {
    align-items: center;
  }

  .imgIns {
    height: 200px;
    width: 300px;
  }

  .tituloWsp {
    font-size: 25px;
    margin: 0px 20px;
    padding: 5px 30px;
  }

  .instrucciones {
    font-size: 20px;
    margin: 0px;
    margin-top: 70px;
  }

  .ftCon {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
  }

  .flexTextoFtCon {
    gap: 26px;
    margin-top: 11px;
  }

  .textoFtCon {
    font-size: 14.3px;
    margin-left: 0px;
  }

  .flexbotonesCon {
    margin-top: 4px;
    margin-right: 0px;
    gap: 5px;
  }

  .iconoFtCon {
    width: 38px;
    height: 23.5px;
  }


}

@media (min-width: 710px) {
  .gridContacto {
    display: grid;
    grid-template-rows: 4% 91% 8.48%;
  }

  .navBarCon {
    height: 69px;
  }

  .navbar-titleCon {
    font-size: 24.3px;
  }

  .navCon {
    padding: 0px;
  }

  .divAnclaCon {
    margin-left: 92px;
    gap: 12.5px;
    margin-bottom: 6px;
  }

  .activeCon {
    font-size: 19.5px;
  }

  .logoCon {
    width: 48.7px;
    height: 48.7px;
    margin-bottom: 2.3px;
    margin-left: 30.8px;
  }

  .ftCon {
    padding-top: 7px;
  }

  .flexTextoFtCon {
    gap: 27px;
    margin-top: 15px;
  }

  .textoFtCon {
    font-size: 14.6px;
  }

  .flexbotonesCon {
    margin-top: 0px;
  }

  .iconoFtCon {
    width: 39px;
    height: 29px;
  }
}

/*VISTA DESKTOP*/

@media (min-width: 1024px) {

  .gridContacto {
    grid-template-rows: 6% 91% 15.9%;
  }

  .navBarCon {
    height: 70px;
  }

  .navbar-titleCon {
    font-size: 25.11px;
    margin-top: 8px;
  }

  .divAnclaCon {
    margin-left: 715px;
    gap: 15px;  
    margin-bottom: 7px;
  }

  .activeCon {
    font-size: 20px;
  }

  .logoCon {
    margin-left: 34px;
    margin-bottom: 1px;
    width: 50px;
    height: 50px;
  }

  .card-titleCon {
    font-size: 35px;
  }

  .card-textCon {
    font-size: 25px;
  }

  .divBotones {
    display: flex;
    flex-direction: row;
  }

  .tituloCard {
    font-size: 30px;
  }

  .tituloWsp {
    font-size: 30px;
  }

  .instrucciones {
    font-size: 25px;
  }

  .flexTextoFtCon {
    margin-top: 14px;
    gap: 28px;
  }

  .textoFtCon {
    font-size: 25px;
  }

  .iconoFtCon {
    width: 60px;
    height: 40px;
  }

}