html {
  scroll-behavior: smooth;
}

/*MOBILE FIRST HOME*/
@media (min-width: 100px) {

  .gridHome {
    display: grid;
    grid-template-rows: 8% 92% 12.5%;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background: #3b3d43;
    overflow-x: auto;
  }

  button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }

  .navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    align-items: flex-end;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 100px;
    background: black;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 10px;
  }

  button .navbar-burger {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 70px;
    height: 70px;
    padding: 0;
    margin-top: 20px;
  }

  .material-icon {
    font-size: 50px;
  }

  .logoHome {
    margin-top: 620px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 155px;
    height: 155px;
  }

  .navbar-title {
    font-size: 30px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 5px;
  }

  .mainHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .card {
    text-align: center;
    margin: 10px 40px;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    background: linear-gradient(145deg, #35373c, #3f4148);
    box-shadow: 20px 20px 50px #1d1e21,
      -20px -20px 50px #42444b;
  }

  .card-text {
    font-size: 30px;
  }

  h2 {
    color: #f9f9f9;
    font-family: "Poppins";
    font-size: 40px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
  }

  p {
    margin-top: 20px;
    color: black;
    font-family: "Poppins";
    font-size: 35px;
  }

  .cardDos {
    text-align: center;
    margin: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    background: linear-gradient(145deg, #35373c, #3f4148);
    box-shadow: 20px 20px 50px #1d1e21,
      -20px -20px 50px #42444b;
  }

  .segui {
    font-size: 30px;
  }

  .anclaSegui {
    color: white;
    font-size: 40px;
    text-shadow: 0 0 5px #f9f9f9;
  }

  .ftHome {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }

  .flexTextoFt {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
  }

  .textoFt {
    font-size: 23px;
    color: white;
    font-family: "Poppins";
    text-shadow: 0 0 5px rgb(255, 255, 255)
  }

  .flexBotones {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 15px;
  }

  .iconoFtHome {
    width: 52px;
    height: 40px;
  }

  .navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menu>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }

  .navbar-menu>button.active {
    color: inherit;
  }

  .navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
    padding-left: 5px;
  }

  body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
  }

  .instagram {
    background-color: deeppink;
    border-radius: 30px;
    opacity: 60%;
  }

  .whats {
    background-color: lime;
    border-radius: 30px;
    opacity: 60%;
  }

  .linked {
    background-color: dodgerblue;
    border-radius: 30px;
    opacity: 60%;
  }

}

@media (min-width: 350px) {

  .gridHome {
    display: grid;
    grid-template-rows: 8% 95% 12.6%;
  }

  .navbar {
    height: 80px;
  }

  .navbar-burger {
    margin-top: 0px;
  }

  .card {
    margin: 10px 65px;
    padding: 5px;
  }

  .cardDos {
    margin: 10px 65px;
    padding: 10px;
  }

  .navbar-title {
    font-size: 30px;
  }
}

@media (min-width: 450px) {

  .gridHome {
    display: grid;
    grid-template-rows: 8% 91% 11.6%;
  }

  .navbar {
    padding-top: 10px;
    height: 60px;
  }

  .navbar-menu {
    padding-left: 5px;
  }

  .navbar-title {
    margin-top: 5px;
    font-size: 23px;
  }

  .navbar-burger {
    width: 50px;
    height: 50px;
  }

  .active {
    font-size: 20px;
  }

  .card {
    align-items: center;
    margin-top: 0px;
    padding: 0px;
  }

  .card-body {
    padding-top: 5px;
  }

  .card-title {
    margin-top: 10px;
    font-size: 25px;
  }

  .card-text {
    margin-top: 10px;
    font-size: 20px;
  }

  .imgLogo {
    width: 400px;
    height: 380px;
    margin-bottom: 10px;
  }

  .cardDos {
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
    padding: 5px;
  }

  .segui {
    margin: 5px;
    font-size: 19px;
  }

  .anclaSegui {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .textoFt {
    font-size: 15px;
    margin-top: 10px;
  }

  .flexBotones {
    gap: 5px;
    margin-top: 5px;
  }

  .iconoFtHome {
    width: 40px;
    height: 25px;
  }
}

@media (min-width: 600px) {

  .gridHome {
    display: grid;
    grid-template-rows: 10% 90% 12%;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-title {
    font-size: 18px;
  }

  .index {
    margin-left: 10px;
  }

  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 10px;
  }

  .logoHome {
    margin-top: 10px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
  }

  .active {
    margin-right: 10px;
    font-size: 15px;
    width: 90px;
  }

  .card {
    width: 500px;
    height: 210px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-size: 25px;
    margin-bottom: 0px;
  }

  .card-text {
    padding: 10px;
    font-size: 20px;
  }

  .cardDos {
    margin-top: 5px;
    height: 175px;
    width: 500px;
  }

  .segui {
    margin-bottom: 15px;
  }
}

@media (min-width: 710px) {

  .gridHome {
    display: grid;
    grid-template-rows: 8% 95% 11%;
  }

  .active {
    font-size: 20px;
  }

  .navbar-overlay {
    display: none;
  }

  .navbar {
    height: 70px;
  }

  .navbar-title {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 25px;
  }

  .card {
    margin-bottom: 20px;
    width: 600px;
    height: 270px;
  }

  .card-title {
    font-size: 30px;
  }

  .card-text {
    font-size: 25px;
  }

  .imgLogo {
    width: 440px;
    height: 380px;
  }

  .cardDos {
    width: 600px;
    height: 230px;
  }

  .segui {
    margin-top: 20px;
    font-size: 25px;
  }

  .anclaSegui {
    font-size: 30px;
  }

  .flexBotones {
    margin-top: 0px;
  }

  .iconoFtHome {
    width: 40px;
    height: 30px;
  }

}

@media (min-width: 1024px) {

  .gridHome {
    display: grid;
    grid-template-rows: 9% 93% 12.7%;
  }

  .navbar {
    height: 70px;
  }

  .card {
    height: 320px;
    width: 700px;
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 35px;
  }

  .card-text {
    font-size: 30px;
  }

  .imgLogo {
    margin: 50px;
    width: 35em;
    height: 25em;
  }

  .cardDos {
    height: 280px;
    width: 700px;
  }

  .segui {
    font-size: 30px;
  }

  .anclaSegui {
    font-size: 35px;
  }

  .textoFt {
    font-size: 25px;
  }

  .iconoFtHome {
    width: 60px;
    height: 40px;
    border-radius: 50px;
  }

  a:hover {
    color: #42444b;
    opacity: 90%;
    transition-duration: .8s;
    clip-path: circle(top at end);
  }

  .instagram {
    border-radius: 20px;
    padding: 2px;
  }

  .instagram:hover {
    background-color: deeppink;
    opacity: 100%;
    transition-duration: 1s;
  }

  .whats {
    border-radius: 20px;
    padding: 2px;
  }

  .whats:hover {
    background-color: lime;
    opacity: 100%;
    transition-duration: 1s;
  }

  .linked {
    border-radius: 20px;
    padding: 2px;
  }

  .linked:hover {
    background-color: dodgerblue;
    opacity: 100%;
    transition-duration: 1s;
  }

}


/*MOBILE FIRST SOBRE MI */

@media (min-width: 100px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 92% 8.4%;
  }

  .navbarSm {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 67px;
    background: black;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 6px;
  }

  .navbar-overlaySm {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .navbar-overlaySm {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menuSm>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }

  .navbar-menuSm>button.active {
    color: inherit;
  }

  .navbar-menuSm {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 177px;
    height: 100%;
    display: flex;
    gap: 3.5px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
    padding-top: 12px;
    padding-left: 1px;
  }

  body.open .navbar-menuSm {
    translate: 0 0;
    visibility: visible;
  }

  .navbar-titleSm {
    margin-top: 8.5px;
    font-size: 20.3px;
  }


  .activeSm {
    font-size: 19.5px;
  }

  .logoSm {
    margin-top: 430px;
    margin-left: 40px;
    width: 100px;
    height: 100px;
  }

  .flexMainSm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardSm {
    text-align: center;
    margin: 40px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(145deg, #35373c, #3f4148);
    box-shadow: 20px 20px 50px #1d1e21,
      -20px -20px 50px #42444b;
  }

  .card-titleSm {
    font-size: 25px;
  }

  .card-textSm {
    font-size: 20px;
  }

  .tatuadorImg {
    border-radius: 15px;
    height: 24em;
  }

  .ftSm {
    padding: 7px;
    padding-bottom: 7px;
    padding-top: 12px;
  }

  .textoFtSm {
    font-size: 15.5px;
    color: white;
    font-family: "Poppins";
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin-top: 8px;
  }

  .flexbotonesSm {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
  }

  .iconoFtSm {
    width: 35px;
    height: 26.5px;
  }

}

@media (min-width: 350px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 92% 8.6%;
  }

  .navbarSm {
    height: 53.5px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .textoFtSm {
    font-size: 15.5px;
  }

  .flexBotonesSm {
    margin-top: 5px;
    gap: 4.5;
  }

  .iconoFtSm {
    width: 35px;
    height: 26.5px;
  }

}

@media (min-width: 450px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 92% 8%;
  }

  .navbarSm {
    height: 59px;
  }

  .cardSm {
    margin: 30px 60px;

  }

  .tatuadorImg {
    height: 25em;
    width: 21em;
    border-radius: 30px;
  }

  .ftSm {
    padding: 12px;
    gap: 4.5;
  }

  .textoFtSm {
    margin-top: 9px;
    font-size: 16px;
  }

  .iconoFtSm {
    width: 43px;
    height: 27;
  }


}

@media (min-width: 600px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 92% 8%;
  }

  .navbarSm {
    padding-left: 12px;
    padding-right: 10px;
  }

  .navbar-menuSm {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 10px;
    gap: 34px;
  }

  .navbar-titleSm {
    margin-top: 8px;
    font-size: 17.5px;
  }

  .activeSm {
    font-size: 15px;
  }

  .logoSm {
    margin-left: 35px;
    margin-top: 2px;
    width: 49px;
    height: 49px;
  }

  .textoFtSm {
    font-size: 14.5px;
  }

  .flexBotonesSm {
    gap: 4.5px;
  }

  .iconoFtSm {
    width: 40px;
    height: 24px;
  }

}

@media (min-width: 710px) {

  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 90% 14%;
  }

  .navbarSm {
    padding-left: 12px;
    padding-right: 10px;
    height: 70px;
    align-items: baseline;
  }

  .navbar-menuSm {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 10px;
    gap: 17px;
  }

  .navbar-titleSm {
    margin-top: 8px;
    font-size: 24px;
  }

  .activeSm {
    font-size: 19.5px;
  }

  .logoSm {
    margin-left: 35px;
    margin-top: 0px;
    width: 49px;
    height: 49px;
  }

  .flexMainSm {
    padding: 30px;
    padding-top: 30px;
  }

  .cardSm {
    margin: 20px;
  }

  .flexFotos {
    display: flex;
    flex-direction: row;
  }

  .tatuadorImg {
    height: 20em;
    width: 16em;
  }

  .ftSm {
    padding: 10px;
  }

  .textoFtSm {
    font-size: 14.5px;
    margin-bottom: 20px;
  }


  .flexBotonesSm {
    margin-top: 0px;
    gap: 4.6px;
  }

  .iconoFtSm {
    width: 39px;
    height: 30px;
  }
}

@media (min-width: 1024px) {


  .gridSobremi {
    display: grid;
    grid-template-rows: 6% 90% 16%;
  }

  .navbarSm {
    padding-left: 15px;
    padding-right: 10px;
    height: 70px;
    align-items: baseline;
  }

  .navbar-titleSm {
    font-size: 25px;
  }

  .activeSm {
    font-size: 20px;
  }

  .logoSm {
    margin-left: 44px;
  }

  .flexMainSm {
    padding-left: 80px;
    padding-right: 80px;
  }

  .cardSoy {
    padding: 30px;
    width: 850px;
    height: 350px;
  }

  .card-titleSm {
    font-size: 35px;
  }

  .card-textSm {
    font-size: 28px;
  }

  .flexFotos {
    margin-top: 50px;
  }

  .tatuadorImg {
    width: 21em;
    height: 26em;
  }

  .textoFtSm {
    margin-bottom: 0.7em;
    font-size: 25px;
  }

  .iconoFtSm {
    width: 60px;
    height: 40px;
  }
}

/*MOBILE FIRST TRABAJOS*/

@media (min-width: 100px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 2% 97.2% 3.85%;
  }

  .navbarTr {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background: black;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 5px;
    padding-top: 7px;
  }

  .navbar-overlayTr {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .navbar-overlayTr {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menuTr>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }

  .navbar-menuTr>button.activeTr {
    color: inherit;
  }

  .navbar-menuTr {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 128px;
    height: 100%;
    display: flex;
    gap: 0px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
    padding-left: 1px;
  }

  body.open .navbar-menuTr {
    translate: 0 0;
    visibility: visible;
  }

  .material-icons {
    margin-top: 6px;
  }

  .navbar-titleTr {
    margin-top: 6px;
    font-size: 14.1px;
  }

  .anclanavTr {
    height: 23px;
    font-size: 23px;
    margin-left: 4px;
  }

  .activeTr {
    font-size: 14.2px;
  }

  .logoTr {
    margin-top: 310px;
    margin-left: 30px;
    width: 60px;
    height: 70px;
  }

  .flexMainTr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardTr {
    padding: 10px;
    margin: 20px;
  }

  .card-titleTr {
    font-size: 25px;
  }

  .card-textTr {
    font-size: 17px;
    margin-top: 10px;
  }

  .imgTatuajes {
    border-radius: 15px;
    height: 11em;
    width: 8em;
    object-fit: cover;
  }

  .card-textTrDos {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px;
    border: solid 2px white;
    border-radius: 50px;
    background-color: #1d1e21
  }

  .ftTr {
    padding: 5px;
    padding-bottom: 7px;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }

  .textoFtTr {
    font-size: 10.8px;
    color: white;
    font-family: "Poppins";
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin-top: 8px;
    margin-bottom: 6.5px;
  }

  .flexbotonesTr {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .anclaFtTr {
    font-size: 0px;
  }

  .iconoFtTr {
    width: 24.5px;
    height: 18.9px;
  }


  .offcanvas-body {
    font-family: "Poppins";
  }

}

@media (min-width: 350px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 2% 97% 4.05%;
  }

  .navbarTr {
    height: 54.6px;
    padding-left: 7px;
    padding-right: 7px;
    align-items: stretch;
  }

  .navbar-titleTr {
    margin-top: 10px;
    font-size: 20.6px;
  }

  .navbar-menuTr {
    width: 185px;
    padding-top: 10px;
  }

  .anclanavTr {
    height: 34px;
    font-size: 24px;
    margin-left: 6px;
  }

  .activeTr {
    font-size: 20.5px;
  }

  .cardTr {
    padding: 10px;
    margin: 40px;
    margin-top: 25px;
  }

  .card-titleTr {
    font-size: 34px;
  }

  .card-textTr {
    font-size: 23px;
  }

  .imgTatuajes {
    height: 15em;
    width: 14em;
  }

  .textoFtTr {
    font-size: 15.8px;
    margin-top: 14px;
    margin-bottom: 8px
  }

  .ftTr {
    padding: 7px;
    padding-top: 5px;
  }

  .flexbotonesTr {
    gap: 4px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .iconoFtTr {
    width: 35.7px;
    height: 27.5px;
  }

}

@media (min-width: 450px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 1.4% 97.5% 3.16%;
  }

  .navbarTr {
    height: 60px;
  }

  .material-icons {
    margin-top: 2px;
    margin-left: 3px;
  }

  .navbar-titleTr {
    font-size: 23px;
    margin-right: 3px;
    margin-top: 12px;
  }

  .navbar-menuTr {
    width: 270px;
    padding-top: 16px;
  }

  .activeTr {
    font-size: 20px;
    margin-left: 3px;
  }

  .cardTr {
    margin: 30px 60px;

  }

  .card-textTr {
    font-size: 20px;
  }

  .imgTatuajes {
    height: 20em;
    width: 18em;
    border-radius: 30px;
  }

  .ftTr {
    padding: 12px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .textoFtTr {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 17.5px;
  }

  .flexbotonesTr {
    gap: 5px;
  }

  .iconoFtTr {
    width: 40px;
    height: 25px;
  }


}

@media (min-width: 600px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 1.8% 97% 2.92%;
  }

  .navbarTr {
    padding-left: 12px;
    padding-right: 10px;
    height: 59px;
  }

  .navbar-menuTr {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 10px;
    gap: 34px;
  }

  .navbar-titleTr {
    margin-top: 14px;
    font-size: 17.4px;
    margin-left: 1.5px;
  }

  .anclanavTr {
    height: 44px;
  }

  .activeTr {
    font-size: 14.6px;
    margin-left: 1px;
  }

  .logoTr {
    margin-left: 35px;
    margin-top: 0px;
    width: 48px;
    height: 48px;
    margin-bottom: 1px;
  }

  .cardTr {
    align-items: center;
  }

  .cardHam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-textTrDos {
    font-size: 30px;
  }

  .btn {
    width: 80px;
    text-align: center;
  }

  .flexTextoFtTr {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3px;
  }


  .textoFtTr {
    font-size: 14.5px;
    margin-bottom: 18px;
  }

  .flexbotonesTr {
    gap: 5px;
    margin-top: 2px;
  }

  .iconoFtTr {
    width: 39px;
    height: 24px;
  }

}

@media (min-width: 710px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 1.9% 98% 3.06%;
  }

  .navbarTr {
    padding-left: 12px;
    padding-right: 10px;
    height: 70px;
    align-items: baseline;
  }

  .navbar-menuTr {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    padding: 0px;
    padding-right: 10px;
    gap: 16px;
  }

  .navbar-titleTr {
    margin-top: 8px;
    font-size: 24.7px;
  }

  .activeTr {
    font-size: 19.7px;
    margin-left: 0px;
  }

  .logoTr {
    margin-left: 42px;
    margin-top: 0px;
    width: 49px;
    height: 49px;
  }

  .flexMainTr {
    padding: 30px;
    padding-top: 30px;
  }

  .cardTr {
    margin: 30px 150px;
  }

  .imgTatuajes {
    height: 20em;
    width: 16em;
  }

  .ftTr {
    padding: 10px;
  }

  .flexTextoFtTr {
    margin-top: 0px;
  }

  .textoFtTr {
    font-size: 14.8px;
    margin-bottom: 20px;
    margin-top: 12px;
  }


  .flexbotonesTr {
    margin-top: 5px;
    gap: 4.6px;
  }

  .iconoFtTr {
    width: 39px;
    height: 30px;
  }

}

@media (min-width: 1024px) {

  .gridTrabajos {
    display: grid;
    grid-template-rows: 4% 95.5% 7.7%;
  }

  .navbarTr {
    padding-left: 15px;
    padding-right: 10px;
    height: 70px;
    align-items: baseline;
  }

  .navbar-menuTr {
    gap: 14px;
  }

  .navbar-titleTr {
    font-size: 25px;
  }

  .activeTr {
    font-size: 20px;
  }

  .logoTr {
    margin-left: 44px;
  }

  .cardTr {
    margin: 30px 70px;
  }

  .card-titleTr {
    font-size: 35px;
  }

  .card-textTr {
    font-size: 30px;
  }

  .gridFotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

  .imgTatuajes {
    width: 18em;
    height: 26em;
    gap: 0px;
    display: grid;
  }

  .tatuajeUno::after {
    content: "Ojo de Horus";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeUno:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeDos::after {
    content: "Mariposa full color";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeDos:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeTres::after {
    content: "Buho realista";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeTres:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeCua::after {
    content: "Rosa Black";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeCua:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeCin::after {
    content: "Padrinos locos";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeCin:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeSeis::after {
    content: "Arlequín";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeSeis:hover::after {
    clip-path: circle(150% at top right);
  }


  .tatuajeSie::after {
    content: "Mandala";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeSie:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeOcho::after {
    content: "Clavel Black";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeOcho:hover::after {
    clip-path: circle(150% at top right);
  }

  .tatuajeNue::after {
    content: "Gato egipcio";
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
    text-align: center;
    clip-path: circle(0 at top right);
    transition: clip-path .8s;
    border-radius: 20px;
    margin-top: 5px;
  }

  .tatuajeNue:hover::after {
    clip-path: circle(150% at top right);
  }

  .card-textTrDos {
    font-size: 35px;
  }

  .btn {
    width: 100px;
    font-size: 40px;
  }

  .btn:hover {
    background-color: #1d1e21;
    opacity: 85%;
  }

  .ftTr {
    padding-top: 0px;
  }

  .flexTextoFtTr {
    margin-bottom: 10px;
  }

  .textoFtTr {
    margin-bottom: 20px;
    font-size: 25px;
  }

  .iconoFtTr {
    width: 60px;
    height: 40px;
  }
}